#footer_html {
    bottom: 0;
    position: absolute;
    width: 100%;
}

ul.nav {
    position: absolute;
    right: 0;
}

#error_html {
    margin-top: 100px;
}

#live-feed-fb {
    margin-bottom: 50px !important;
}

#live-feed-fb ._2lqh{
	display: none;
}

#someid {
	width: 300;
}